In [1]:
import pandas as pd
import numpy as np
import openpyxl as el

In [2]:
input_file = './Transaction-Mar-01-2024-02_30_18-0700-12157472268.csv'
output_file = './Ebay Manual template.xlsx'

In [3]:
data = pd.read_csv(input_file, header=11)

In [4]:
data = data.replace('--', np.float64(0.0))

In [5]:
data.head()

,Transaction creation date,Type,Order number,Legacy order ID,Buyer username,Buyer name,Post to city,Post to province/region/state,Post to postcode,Post to country,...,Final value fee – fixed,Final value fee – variable,Very high 'item not as described' fee,Below standard performance fee,International fee,Gross transaction amount,Transaction currency,Exchange rate,Reference ID,Description
0,29-Feb-24,Order,02-11255-52903,02-11255-52903,kashrule85,Andrew - Thomas Hardy Kendal Ltd,Kendal,0.0,LA9 6BS,GB,...,-0.36,-102.17,0.0,0.0,0.0,859.96,GBP,0.0,0.0,0.0
1,29-Feb-24,Refund,08-11203-14407,08-11203-14407,vauxhalltechnician1,Piotr Olejnik,London,0.0,UB6 9NE,GB,...,0.0,2.38,0.0,0.0,0.0,-19.99,GBP,0.0,Return ID 5258583528,0.0
2,29-Feb-24,Order,08-11249-28992,08-11249-28992,alex271,Alex Jupp,ILMINSTER,Somerset,TA190PD,GB,...,-0.36,-20.9,0.0,0.0,0.0,175.99,GBP,0.0,0.0,0.0
3,28-Feb-24,Order,22-11237-12111,22-11237-12111,pam7478,pamela frost,derby,Derbyshire,DE236ND,GB,...,-0.36,-1.39,0.0,0.0,0.0,11.7,GBP,0.0,0.0,0.0
4,28-Feb-24,Other fee,25-11234-11778,25-11234-11778,shimani36,Mr.Shimani Simbaya/ SS117437,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-0.43,GBP,0.0,FEE-5924439634711_11,Ad Fee Standard

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 37 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Transaction creation date              141 non-null    object
 1   Type                                   141 non-null    object
 2   Order number                           141 non-null    object
 3   Legacy order ID                        141 non-null    object
 4   Buyer username                         141 non-null    object
 5   Buyer name                             141 non-null    object
 6   Post to city                           141 non-null    object
 7   Post to province/region/state          141 non-null    object
 8   Post to postcode                       141 non-null    object
 9   Post to country                        141 non-null    object
 10  Net amount                             141 non-null    object
 11  Payout currency                        141 non-null    object
 12  Payout date                            141 non-null    object
 13  Payout ID                              141 non-null    object
 14  Payout method                          141 non-null    object
 15  Payout status                          141 non-null    object
 16  Reason for hold                        141 non-null    float64
 17  Item ID                                141 non-null    object
 18  Transaction ID                         141 non-null    object
 19  Item title                             141 non-null    object
 20  Custom label                           141 non-null    object
 21  Quantity                               141 non-null    object
 22  Item subtotal                          141 non-null    object
 23  Postage and packaging                  141 non-null    object
 24  Seller collected tax                   141 non-null    float64
 25  eBay collected tax                     141 non-null    float64
 26  Seller specified VAT rate              141 non-null    object
 27  Final value fee – fixed                141 non-null    object
 28  Final value fee – variable             141 non-null    object
 29  Very high 'item not as described' fee  141 non-null    float64
 30  Below standard performance fee         141 non-null    float64
 31  International fee                      141 non-null    object
 32  Gross transaction amount               141 non-null    object
 33  Transaction currency                   141 non-null    object
 34  Exchange rate                          141 non-null    float64
 35  Reference ID                           141 non-null    object
 36  Description                            141 non-null    object
dtypes: float64(6), object(31)
memory usage: 40.9+ KB

In [7]:
data = data.rename(columns={'Final value fee \u2013 fixed': 'Final value fee - fixed', 'Final value fee \u2013 variable': 'Final value fee - variable'})

In [8]:
def convert_to_numeric(data, column_name):
    if data[column_name].dtype != np.float64:
        for i in range(len(data)):
            if data[column_name].dtype != None or type(data[column_name]) != float:
                try:
                    data[column_name][i] = float(data[column_name][i].replace(',', ''))
                except:
                    print(data[column_name][i], type(data[column_name][i]))
        data[column_name] = pd.to_numeric(data[column_name])
    return data

In [9]:
data = convert_to_numeric(data, 'Gross transaction amount')
data = convert_to_numeric(data, 'Final value fee - fixed')
data = convert_to_numeric(data, 'Final value fee - variable')
data = convert_to_numeric(data, "Very high 'item not as described' fee")
data = convert_to_numeric(data, "Below standard performance fee")

0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>
0.0 <class 'numpy.float64'>

/tmp/ipykernel_493638/1640695857.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column_name][i] = float(data[column_name][i].replace(',', ''))

In [10]:
uk_sales_gross = data.loc[data['Type'] == 'Order']['Gross transaction amount'].astype(np.float64).sum()

In [11]:
sales_fees_df = data.loc[data['Type'] == 'Order'][['Final value fee - fixed', 'Final value fee - variable', 'Very high \'item not as described\' fee', 'Below standard performance fee']]

In [12]:
sales_fees_df['total sales fee'] = -np.inf

In [13]:
for i in sales_fees_df.index:
    sales_fees_df['total sales fee'][i] = sales_fees_df['Final value fee - fixed'][i] + sales_fees_df['Final value fee - variable'][i] + sales_fees_df['Very high \'item not as described\' fee'][i] + sales_fees_df['Below standard performance fee'][i]

In [14]:
sales_fees = sales_fees_df['total sales fee'].astype(np.float64).sum() * -1

In [15]:
other_fees = data.loc[data['Type'] == 'Other fee']['Gross transaction amount'].astype(np.float64).sum() * -1

In [16]:
wb = el.load_workbook(output_file)

In [17]:
ws = wb.active

In [18]:
ws['B4'].value = uk_sales_gross

In [19]:
ws['B9'].value = sales_fees

In [20]:
ws['B10'].value = other_fees

In [21]:
wb.save(output_file)